@charset "UTF-8";

// * ==========================================================================
// * 顏色
// * ==========================================================================

// 預設的文字顏色
$color-default: #313131;

$color-white: #ffffff;
$color-black: #000000;
$color-orange: #f87147;

// 主要配色
$color-primary-1: #382853;
$color-primary-2: #ADB0F4;
$color-primary-3: #e7e4e4;

// 次要配色
$color-white-rice: #f1ede4;
$color-gray-light: #7f7467;
$color-brown-light: #e6a831;
$color-coral: #fe7c96;

// FOCUS 時的外框
$focus-border: 0 0 0 0.2rem rgba($color-orange, 0.5);
$focus-border-inset: inset 0 0 0 0.2rem rgba($color-orange, 0.8);

// 行動版 HEADER BAR 的高度
$mainHeader-height: 50px;

// 電腦版 MENU 的高度
$menu-height: 85px;
