@charset "UTF-8";
@import "./utils/_utils.scss";

// * ==========================================================================
// * 主要內容區域（#main 裡面的基本樣式）
// * ==========================================================================

#main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-primary-3;
  position: relative;

  // 單頁式網站的主要內容區塊
  &.anchor-main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

// * ==========================================================================
// * 頁面外圍控制整體布局寬度
// * ==========================================================================

.wrap {
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: auto;
}

// * ==========================================================================
// * 標題
// * ==========================================================================

.title-zone {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary-1;
  font-size: 2.5rem;
  font-weight: bold;

  > span {
    display: block;
  }

  @at-root html[lang="en"] & {
    letter-spacing: 0px;

    @include min-width(768px) {
      font-size: 3rem;
    }
  }

  @include min-width(768px) {
    font-size: 3rem;

    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 2px;
      display: inline-block;
      vertical-align: middle;
      background-color: $color-primary-1;
    }

    &::before {
      margin-right: 20px;
    }

    &::after {
      margin-left: 20px;
    }
  }

  @include max-width(767px) {
    margin-top: 0px;
  }
}

.block-revealer__content {
  color: $color-primary-1;
}

// * ==========================================================================
// * 功能按鈕區塊
// * ==========================================================================

.navbar {
  display: none;

  @include min-width(1025px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }
}

.features {
  display: flex;

  @at-root .no-js & {
    display: none;
  }
}

.external-link {
  display: inline-block;
  text-decoration: none;
}




// * ==========================================================================
// * 字級縮放
// * ==========================================================================

.fontsize {
  display: flex;
  align-items: center;

  @include exclude-content {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}

.fontsize-btn {
  width: 45px;
  height: 45px;
  display: block;
  margin-left: 10px;
  border-radius: 100%;
  text-decoration: none;
  color: $color-white;
  background: {
    color: $color-coral;
    repeat: no-repeat;
    position: center;
    size: contain;
  }

  @include hidetext;

  &.fontsize-btn-plus {
    background-image: url("../images/icon/font-plus.svg");
  }

  &.fontsize-btn-dec {
    background-image: url("../images/icon/font-dec.svg");
  }
}

// * ==========================================================================
// * 內文區塊
// * ==========================================================================

#content {
  margin-bottom: 5rem;
  position: relative;
  z-index: 5;
  font-size: 1.25rem;
  line-height: 1.8em;
  color: $color-primary-2;
  letter-spacing: 0.5px;

  @at-root html[lang="en"] & {
    letter-spacing: 0px;
  }

  p {
    color: inherit;
    text-align: justify;

    @at-root html[lang="en"] & {
      text-align: left;
    }

    @at-root html[lang="ja"] & {
      text-align: justify;
    }
  }

  ul {
    list-style: disc;
    padding-left: 2em;
    margin-bottom: 1rem;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    display: block;
    margin: {
      left: auto;
      right: auto;
      // bottom: 1rem;
    }
  }
}

.list-title{
  display: block;
  font-weight: 600;
  font-size: 1.5rem;

  @include min-width(767px){
    display: inline-block;

  }
}

// * ==========================================================================
// * 單頁式網站的區塊
// * ==========================================================================

.section {
  margin-top: 5rem;
  outline: none;
}

#section-1 {
  background-color: $color-white;
}

#section-2 {
  background-color: $color-primary-3;
}

#section-3 {
  background-color: $color-white;
}

#section-4 {
  background-color: $color-primary-3;
}


